@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
hr {
  width: 80%;
  margin: 20px auto;
  border: 1px solid rgb(230, 208, 208);
}

/* Global Variables */
:root {
  --textColor: #012970;
  --themeColor: #a31e06;
  --bgBtnColor: rgb(65, 84, 241);
}

body {
  background-image: url(../img/bg-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.scroll-header {
  width: 100%;
  height: 10vh;
  position: fixed;
  transition: 0.4s;
  z-index: 99;
  background-color: transparent;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
}

.header-background {
  background-color: white;
}

#MenuBtn {
  display: none;
}

.dropdown-menu {
  display: none;
}

.container-header {
  max-width: 1320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-with-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-with-logo img {
  width: 80px;
}

.header-with-logo h1 {
  color: var(--textColor);
  font-weight: 700;
}

.header-with-logo h1:hover {
  color: var(--themeColor);
}

.header-with-navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 80%;
}

.header-with-navbar ul {
  display: flex;
}

.header-with-navbar ul li {
  font-weight: 600;
  color: var(--textColor);
  padding-left: 10px;
}

.header-with-navbar ul li a {
  padding: 8px 20px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.4s;
}
.dropdown-menu {
  display: none;
}
.get-started-nav {
  margin-right: 20px;
  color: white;
  border-radius: 4px;
  margin-left: 20px;
  background-color: var(--bgBtnColor);
  white-space: nowrap;
}

.header-with-navbar ul li a:hover {
  color: var(--themeColor);
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .container-home {
  max-width: 1320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 450px;
}

#home .container-home .home-get-started {
  padding-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .container-home .home-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home .container-home .home-get-started h1 {
  color: var(--textColor);
  font-weight: 600;
  font-size: 42px;
}

#home .container-home .home-get-started span {
  margin-top: 5px;
  color: #444444;
  font-size: 24px;
}

.get-started-home {
  margin-top: 30px;
}

.get-started-home a {
  color: white;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
  box-shadow: rgba(65, 84, 241, 0.4) 0px 5px 30px;
  background-color: var(--bgBtnColor);
}

footer {
  padding: 0px 20px;
  height: 10vh;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-footer {
  max-width: 1320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-top {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.footer-copy-right {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}
/* css for Services */
#services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#services .title-services {
  margin-top: 25px;
}

#services .title-services p {
  margin-top: 10px;
  padding: 0;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}
#services .container-services {
  max-width: 1320px;
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: space-between;
  height: 700px;
}

.box-services {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  transition: 0.3s;
  border-radius: 5px;
}

.box-services .icon {
  position: absolute;
  top: 20px;
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.box-services h3 {
  position: absolute;
  top: 120px;
  color: #444444;
  font-weight: 700;
}
.box-services p {
  width: 70%;
  position: absolute;
  top: 150px;
}
.box-services .read-more {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
  bottom: 0;
  padding-bottom: 20px;
}
/* Blue Box */
.container-services .box-services.blue {
  border-bottom: 3px solid #2db6fa;
  transition: background-color 0.3s ease;
}
.container-services .box-services.blue:hover {
  background-color: #2db6fa;
}
.container-services .box-services.blue .icon {
  color: #2db6fa;
  background: rgba(144, 204, 232, 0.627);
}
.container-services .box-services.blue .icon:hover {
  background: #ffffffef;
}
/* Orange Box */
.container-services .box-services.orange {
  border-bottom: 3px solid #f68c09;
}
.container-services .box-services.orange:hover {
  background-color: #f68c09;
}
.container-services .box-services.orange .icon {
  color: #f68c09;
  background: #f0c896c4;
}
.container-services .box-services.orange .icon:hover {
  background: #ffffffef;
}
/* Green Box */
.container-services .box-services.green {
  border-bottom: 3px solid #08da4e;
}
.container-services .box-services.green:hover {
  background-color: #08da4e;
}
.container-services .box-services.green .icon {
  color: #08da4e;
  background: rgba(115, 227, 154, 0.687);
}
.container-services .box-services.green .icon:hover {
  background: #ffffffef;
}
/* Red Box */
.container-services .box-services.red {
  border-bottom: 3px solid #e9222c;
}
.container-services .box-services.red:hover {
  background-color: #e9222c;
}
.container-services .box-services.red .icon {
  color: #e9222c;
  background: #f17a8cb8;
}
.container-services .box-services.red .icon:hover {
  background: #ffffffef;
}
/* Purple Box */
.container-services .box-services.purple {
  border-bottom: 3px solid #b50edf;
}
.container-services .box-services.purple:hover {
  background-color: #b50edf;
}
.container-services .box-services.purple .icon {
  color: #b50edf;
  background: #b954d275;
}
.container-services .box-services.purple .icon:hover {
  background: #ffffffef;
}
/* Pink Box */
.container-services .box-services.pink {
  border-bottom: 3px solid #f51f9c;
}
.container-services .box-services.pink:hover {
  background-color: #f51f9c;
}
.container-services .box-services.pink .icon {
  color: #f51f9c;
  background: #e45fb1a8;
}
.container-services .box-services.pink .icon:hover {
  background: #ffffffef;
}
@media screen and (max-width: 1200px) {
  .container-header {
    justify-content: space-between;
  }
  .header-with-navbar {
    display: none;
  }
  #MenuBtn {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 35px;
    font-size: 25px;
    right: 40px;
  }
  .fa-xmark {
    color: white;
  }
  .mobile-nav-active header {
    left: 0;
  }
  nav {
    margin-right: 10px;
  }

  .dropdown-menu {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(50, 15, 107, 0.655);
    transition: 0.3s;
  }

  .dropdown-menu ul {
    position: absolute;
    top: 75px;
    bottom: 40px;
    right: 25px;
    left: 25px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  .dropdown-menu ul li {
    margin: 20px;
  }

  .get-started-nav-mobile {
    color: white;
    border-radius: 10px;
    background-color: #013289;
  }

  .get-started-nav-mobile:focus {
    background: #4154f1;
    padding: 4px;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
  }

  .dropdown-menu ul li a,
  .dropdown-menu ul li a:focus {
    display: flex;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
  }

  .dropdown-menu ul li a:hover {
    background: #4154f1;
    border-radius: 10px;
    margin: 20px;
    color: #fff;
    transition: 0.3;
  }

  /* reponsive services */
  .title-services {
    display: none;
  }
  #services .container-services {
    max-width: 1320px;
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: space-between;
    height: 700px;
  }
}

@media screen and (max-width: 1024px) {
  .container-home {
    flex-direction: column;
    margin-bottom: 120px;
  }

  #home .container-home .home-get-started {
    width: 80%;
  }
  #home .container-home .home-get-started h1 {
    font-size: 46px;
  }
  #home .container-home .home-get-started .get-started-home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #home .container-home .home-img {
    margin-top: 40px;
    width: 80%;
  }

  #services .container-services {
    margin-top: 30px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    align-items: center;
    justify-content: space-between;
    height: 120vh;
  }
  .box-services p {
    width: 80%;
    margin-top: 5px;
  }

  .container-footer {
    width: 80%;
  }
  .container-footer h4 {
    font-size: 18px;
  }
  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  #services {
    height: 150vh;
  }
  .icon-info {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
  }
  .footer-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-services ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links,
  .footer-contact {
    margin-left: 24px;
  }
}
@media screen and (max-width: 800px) {
  #home {
    padding: 100px 0;
  }
  #home .container-home .home-get-started {
    width: 80%;
    text-align: center;
  }
  #home .container-home .home-get-started h1 {
    font-size: 34px;
  }
  #home .container-home .home-get-started span {
    font-size: 22px;
  }
  .footer-top {
    gap: 5px;
  }
  .icon-info {
    font-size: 30px;
  }
}
