@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
hr {
  width: 80%;
  margin: 20px auto;
  border: 1px solid rgb(230, 208, 208);
}

/* Global Variables */
:root {
  --textColor: #012970;
  --themeColor: #a31e06;
  --bgBtnColor: rgb(65, 84, 241);
  --textServicesHover: #ffffffa5;
  --bgIconServicesHover: #fbf7f7ef;
}
.hide-on-load {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
}

body {
  background-image: url(../img/bg-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.scroll-header {
  width: 100%;
  height: 10vh;
  position: fixed;
  transition: 0.4s;
  z-index: 99;
  background-color: transparent;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
}

.header-background {
  background-color: white;
}

#MenuBtn {
  display: none;
}

.dropdown-menu {
  display: none;
}

.container-header {
  max-width: 1320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-with-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-with-logo img {
  width: 80px;
}

.header-with-logo h1 {
  color: var(--textColor);
  font-weight: 700;
}

.header-with-logo h1:hover {
  color: var(--themeColor);
}

.header-with-navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 80%;
}

.header-with-navbar ul {
  display: flex;
}

.header-with-navbar ul li {
  font-weight: 600;
  color: var(--textColor);
  padding-left: 10px;
}

.header-with-navbar ul li a {
  padding: 8px 20px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.4s;
}
.dropdown-menu {
  display: none;
}
.get-started-nav {
  margin-right: 20px;
  color: white;
  border-radius: 4px;
  margin-left: 20px;
  background-color: var(--bgBtnColor);
  white-space: nowrap;
}

.header-with-navbar ul li a:hover {
  color: var(--themeColor);
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .container-home {
  max-width: 1320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 450px;
}
#home .container-home .home-get-started {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .container-home .home-img {
  opacity: 0;
  transform: translateX(80px);
  transition: 2s;
  width: 50%;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: appear 1s ease forwards;
}

#home .container-home .home-get-started h1 {
  opacity: 0;
  transform: translateX(40px);
  transition: 3s;
  color: var(--textColor);
  font-weight: 600;
  font-size: 42px;
  animation: appear 3s ease forwards;
}

#home .container-home .home-get-started span {
  position: relative;
  opacity: 0;
  transform: translateY(60px);
  transition: 3s;
  margin-top: 5px;
  color: #444444;
  font-size: 24px;
  animation: appear 3s ease forwards;
}
.typing-span-home {
  white-space: normal;
}
.typing-span-home:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 2px solid #444444;
  animation: animate 4s steps(12) infinite;
}

.bootstrap-span {
  display: none;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.get-started-home {
  opacity: 0;
  transform: translateY(80px);
  transition: 3s;
  margin-top: 30px;
  animation: appear 3s ease forwards;
}
.get-started-home:hover a i {
  transform: translateX(5px);
}
.fa-arrow-right {
  font-size: 16px;
  padding-left: 5px;
}
.get-started-home a {
  margin-top: 2px;
}
.get-started-home a {
  color: white;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
  box-shadow: rgba(65, 84, 241, 0.4) 0px 5px 30px;
  background-color: var(--bgBtnColor);
}

footer {
  padding: 0px 20px;
  height: 10vh;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-footer {
  max-width: 1320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-top {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.footer-copy-right {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}
/* css for Services */
#services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#services .title-services {
  opacity: 0;
  transform: translateY(-80px);
  transition: 2s;
  margin-top: 25px;
  animation: appear 1s ease forwards;
}

#services .title-services p {
  padding-top: 80px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}
#services .container-services {
  max-width: 1320px;
  margin: 30px 0;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: space-between;
  height: 750px;
}

.box-services {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 10px;
  transition: 0.3s;
  border-radius: 5px;
}

.box-services .icon {
  position: absolute;
  top: 20px;
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.box-services h3 {
  padding-top: 50px;
  color: #444444;
  font-weight: 700;
  width: 100%;
}
.box-services p {
  width: 70%;
}
.box-services .read-more {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
  bottom: 0;
  padding-bottom: 20px;
}

#team {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper-team {
  display: flex;
  flex-direction: column;
}
#team .title-team {
  padding-top: 60px;
}

#team .title-team p {
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
  transform: translateY(-50px);
  transition: opacity 3s, transform 3s;
  animation: appear 1s ease forwards;
}

#team .wrapper-member-team {
  max-width: 1320px;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr;
  grid-gap: 25px;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.member-team {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  border-radius: 5px;
}

.member-team.first {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.9s, transform 0.9s;
  animation: appear 1s ease forwards;
}

.member-team.first:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 30px rgba(1, 37, 99, 0.943);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.member-team.second {
  opacity: 0;
  transform: translateY(-70px);
  transition: opacity 1.1s, transform 1.1s;
  animation: appear 1s ease forwards;
}
.member-team.second:hover {
  border-radius: 8px;
  transform: scale(1.08);
  box-shadow: 0px 0px 30px rgba(1, 37, 99, 0.943);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.member-team.third {
  opacity: 0;
  transform: translateY(-80px);
  transition: opacity 1.3s, transform 1.3s;
  animation: appear 1s ease forwards;
}
.member-team.third:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 30px rgba(1, 37, 99, 0.943);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.member-team.fourth {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1.5s, transform 1.5s;
  animation: appear 1s ease forwards;
}
.member-team.fourth:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 30px rgba(1, 37, 99, 0.943);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.member-team:hover .social {
  opacity: 1;
  right: 8px;
}
.member-team img {
  max-width: 100%;
}
.member-img {
  position: relative;
}
.member-img .social {
  opacity: 0;
  position: absolute;
  padding: 12px;
  display: flex;
  flex-direction: column;
  right: 0px;
  top: 30px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}
.member-img .social i {
  font-size: 18px;
}
.member-img .social i:hover {
  color: rgb(45, 41, 232);
  transform: scale(1.2);
}
.member-img .social a {
  z-index: 2;
  color: rgba(1, 41, 112, 0.5);
  margin: 2px 0;
}
.member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}
.member-info {
  padding: 10px 15px 20px 15px;
}
.member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #012970;
}
.member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #968888;
}
.member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
}

/*
.box-services .icon {
  position: absolute;
  top: 20px;
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.box-services h3 {
  padding-top: 50px;
  color: #444444;
  font-weight: 700;
  width: 100%;
}
.box-services p {
  width: 70%;
}
.box-services .read-more {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
  bottom: 0;
  padding-bottom: 20px;
} */

/* Blue Box */
.container-services .box-services.blue {
  opacity: 0;
  transform: translateY(170px);
  transition: opacity 2s, transform 2s;
  border-bottom: 3px solid #2db6fa;
  backface-visibility: hidden;
  perspective: 1000px;
  animation: appear 1s ease forwards;
}
.container-services .box-services.blue:hover {
  color: var(--textServicesHover);
  background-color: #2db6fa;
  transform: translateY(0);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.6s, box-shadow 0.6s;
}
.container-services .box-services.blue .icon {
  color: #2db6fa;
  background: rgba(144, 204, 232, 0.627);
}
.container-services .box-services.blue .icon:hover {
  background: var(--bgIconServicesHover);
}
/* Orange Box */
.container-services .box-services.orange {
  opacity: 0;
  transform: translateY(180px);
  transition: opacity 2.5s, transform 2.5s;
  border-bottom: 3px solid #f68c09;
  backface-visibility: hidden;
  perspective: 1000px;
  animation: appear 1s ease forwards;
}
.container-services .box-services.orange:hover {
  color: var(--textServicesHover);
  transform: translateY(0);
  background-color: #f68c09;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.6s, box-shadow 0.6s;
}
.container-services .box-services.orange .icon {
  color: #f68c09;
  background: #f0c896c4;
}
.container-services .box-services.orange .icon:hover {
  background: var(--bgIconServicesHover);
}
/* Green Box */
.container-services .box-services.green {
  opacity: 0;
  transform: translateY(190px);
  transition: opacity 3s, transform 3s;
  border-bottom: 3px solid #08da4e;
  animation: appear 1s ease forwards;
}
.container-services .box-services.green:hover {
  color: var(--textServicesHover);
  background-color: #08da4e;
  transform: translateY(0);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.6s, box-shadow 0.6s;
}
.container-services .box-services.green .icon {
  color: #08da4e;
  background: rgba(115, 227, 154, 0.687);
}
.container-services .box-services.green .icon:hover {
  background: var(--bgIconServicesHover);
}
/* Red Box */
.container-services .box-services.red {
  opacity: 0;
  transform: translateY(170px);
  transition: opacity 3.3s, transform 3.3s;
  border-bottom: 3px solid #e9222c;
  animation: appear 1s ease forwards;
}
.container-services .box-services.red:hover {
  color: var(--textServicesHover);
  background-color: #e9222c;
  transform: translateY(0);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.6s, box-shadow 0.6s;
}
.container-services .box-services.red .icon {
  color: #e9222c;
  background: #f17a8cb8;
}
.container-services .box-services.red .icon:hover {
  background: var(--bgIconServicesHover);
}
/* Purple Box */
.container-services .box-services.purple {
  opacity: 0;
  transform: translateY(180px);
  transition: opacity 3.7s, transform 3.7s;
  border-bottom: 3px solid #b50edf;
  animation: appear 1s ease forwards;
}
.container-services .box-services.purple:hover {
  color: var(--textServicesHover);
  background-color: #b50edf;
  transform: translateY(0);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.6s, box-shadow 0.6s;
}
.container-services .box-services.purple .icon {
  color: #b50edf;
  background: #b954d275;
}
.container-services .box-services.purple .icon:hover {
  background: var(--bgIconServicesHover);
}
/* Pink Box */
.container-services .box-services.pink {
  opacity: 0;
  transform: translateY(190px);
  transition: opacity 4s, transform 4s;
  border-bottom: 3px solid #f51f9c;
  animation: appear 1s ease forwards;
}
.container-services .box-services.pink:hover {
  color: var(--textServicesHover);
  background-color: #f51f9c;
  transform: translateY(0);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.6s, box-shadow 0.6s;
}
.container-services .box-services.pink .icon {
  color: #f51f9c;
  background: #e45fb1a8;
}
.container-services .box-services.pink .icon:hover {
  background: var(--bgIconServicesHover);
}
@media screen and (max-width: 1200px) {
  .container-header {
    justify-content: space-between;
  }
  .header-with-navbar {
    display: none;
  }
  #MenuBtn {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 35px;
    font-size: 25px;
    right: 40px;
  }
  .bootstrap-span {
    display: contents;
  }
  .typing-span-home {
    display: none;
  }
  .fa-xmark {
    color: white;
  }
  .mobile-nav-active header {
    left: 0;
  }
  nav {
    margin-right: 10px;
  }
  .home-img {
    padding-left: 80px;
  }
  .dropdown-menu {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(50, 15, 107, 0.655);
    transition: 0.3s;
  }

  .dropdown-menu ul {
    position: absolute;
    top: 75px;
    bottom: 40px;
    right: 25px;
    left: 25px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  .dropdown-menu ul li {
    margin: 20px;
  }

  .get-started-nav-mobile {
    color: white;
    border-radius: 10px;
    background-color: #013289;
  }

  .get-started-nav-mobile:focus {
    background: #4154f1;
    padding: 4px;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
  }

  .dropdown-menu ul li a,
  .dropdown-menu ul li a:focus {
    display: flex;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
  }

  .dropdown-menu ul li a:hover {
    background: #4154f1;
    border-radius: 10px;
    margin: 20px;
    color: #fff;
    transition: 0.3;
  }

  .title-services {
    display: none;
  }
  #services .container-services {
    margin-top: 130px;
    width: 95%;
  }
  #team .wrapper-member-team {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .container-home {
    flex-direction: column;
    margin-bottom: 120px;
  }

  #home .container-home .home-get-started {
    width: 80%;
  }
  #home .container-home .home-get-started h1 {
    font-size: 46px;
  }
  #home .container-home .home-get-started .get-started-home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #home .container-home .home-img {
    margin-top: 40px;
    padding-left: 0;
    width: 80%;
  }
  #services {
    height: 140vh;
  }
  #services .container-services {
    width: 85%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-gap: 30px;
    height: 130vh;
  }
  .box-services p {
    width: 80%;
    margin-top: 5px;
  }

  .container-footer {
    width: 80%;
  }
  .container-footer h4 {
    font-size: 18px;
  }
  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .icon-info {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
  }
  .footer-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-services ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links,
  .footer-contact {
    margin-left: 24px;
  }
  .container-services .box-services.blue {
    transform: translateY(-50px);
  }
  .container-services .box-services.orange {
    transform: translateY(-60px);
  }
  .container-services .box-services.green {
    transform: translateY(-70px);
  }
  .container-services .box-services.red {
    transform: translateY(-50px);
  }
  .container-services .box-services.purple {
    transform: translateY(-60px);
  }
  .container-services .box-services.pink {
    transform: translateY(-70px);
  }
}

@media screen and (max-width: 800px) {
  #home {
    padding: 80px 0;
  }
  #services {
    height: 240vh;
  }
  #services .container-services {
    width: 65%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    height: 230vh;
  }
  #home .container-home .home-get-started {
    width: 95%;
    text-align: center;
  }
  #home .container-home .home-img {
    width: 95%;
  }
  #home .container-home .home-get-started h1 {
    font-size: 34px;
  }
  #home .container-home .home-get-started span {
    font-size: 22px;
  }
  .container-services .box-services.blue {
    transform: translateY(-50px);
  }
  .container-services .box-services.orange {
    transform: translateY(-60px);
  }
  .container-services .box-services.green {
    transform: translateY(-70px);
  }
  .container-services .box-services.red {
    transform: translateY(-50px);
  }
  .container-services .box-services.purple {
    transform: translateY(-60px);
  }
  .container-services .box-services.pink {
    transform: translateY(-70px);
  }
  .footer-top {
    grid-gap: 20px;
  }
  .icon-info {
    font-size: 30px;
  }
  #team .wrapper-member-team {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
  }
}

@media screen and (max-width: 550px) {
  #home .container-home .home-img img {
    padding-top: 25px;
    width: 400px;
  }
  #home .container-home .home-get-started h1 {
    font-size: 32px;
  }
  #home .container-home .home-get-started span {
    font-size: 22px;
  }
  .footer-top {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .icon-info {
    font-size: 34px;
  }
  .icon-info a {
    padding: 0 4px;
  }
  .footer-links,
  .footer-contact {
    margin-left: 0;
  }
  .footer-contact br {
    display: none;
  }
  .footer-contact p {
    padding: 2px 0;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
